.menu {
    background-color: #bebe36f5; 
    color: rgb(254, 246, 139); 
    padding: 15px; 
}

.menu ul {
    list-style: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center; 
}

.menu li {
    margin: 0 10px;
 }

.menu a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}


.info {
    background-image:url(https://imgs.search.brave.com/hvSoa8yb5xWj-C3HIvPjQcOsJpQ8vCSjyvTEGvtHDdQ/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wNC53/YWxscGFwZXJiZXR0/ZXIuY29tL3dhbGxw/YXBlci85OS84OTAv/MzMyL2JsYWNrLWJh/Y2tncm91bmQtbGVh/dGhlci13YWxscGFw/ZXItcHJldmlldy5q/cGc);
    height: px100;
    width: px100;
    color: rgba(206, 247, 245, 0.633); 
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #ffffff;
}

/* Estilos para el párrafo */
p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #ffffff;
}

/* Estilos para el footer */
footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #888;
}

.banner
{
    background-image: url(https://imgs.search.brave.com/9CV_W8ZuOwzwrhjjNtP0ZFx0LtI2IPDVP91XcwnwNWI/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzY3L2Fk/L2Y4LzY3YWRmODZi/OWFkMmNlZjZmMDA5/YWZkNTE5YzJiYjE5/LmpwZw)}